@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1> @ViewData["Greeting"]</h1>

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>this is from github action in effect, one more time</a>.</p>

</div>
